@{
    ViewBag.Title = "Home Page";
}

<main>
    <section>
        <h2>Det her er en hjemmeside</h2>
        <h1>Bottom text</h1>
        <h1>Bottom text</h1>
        <h1>Bottom text</h1>
        <h1>Bottom text</h1>
        <h1>Bottom text</h1>
        <h1>Bottom text</h1>
        <h1>Bottom text</h1>
        <h1>Bottom text</h1>
        <h1>Bottom text</h1>
        <h1>Bottom text</h1>
        <h1>Bottom text</h1>
        <h1>Bottom text</h1>
        <h1>Bottom text</h1>
    </section>
</main>