﻿@model SchoolBytes.Models.FoodModule


@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <h1>Opret et madhold</h1>
    <div id="fmForm">
        <form id="da-form">
            <input type="hidden" name="Capacity" value="" />
            <input type="hidden" name="Date" value="" />
            <input type="hidden" name="Course" value="" />
            <input type="hidden" name="Teacher" value="" />


            <p><strong>Navn:</strong> <input type="text" name="Name" id="fmFormName" /></p>
            <p><strong>Lokation:</strong> <input type="text" name="Location" /></p>
            <p><strong>Start:</strong> <input type="time" name="StartTime" /></p>
            <p><strong>Slut:</strong> <input type="time" name="EndTime" /></p>


            

        </form>
    </div>
</body>
</html>