@model List<SchoolBytes.Models.CourseModule>

@if (Model.Any())
{
    <label for="moduleDropdown">Select a module:</label>
    <select id="moduleDropdown" name="selectedModuleId">
        <option value="">-- Select a module --</option>
        @foreach (var module in Model)
        {
            <option value="@module.Id">@module.Name</option>
        }
    </select>
}
else
{
    <p>No modules available for the selected course.</p>
}