@{
    ViewBag.Title = "Invalid QR Code";
}

<h1>Forkert ID for fremmøde</h1>
<p>Det anvendte ID til at indberette fremmøde er enten forkert eller udløbet.</p>
<p>Check at du brugte den nyeste QR kode.</p>