@{
    Layout = null;
}

@functions {
    public string GetHttp()
    {
        var courseId = ViewBag.CourseId;
        var moduleId = ViewBag.ModuleId;
        return $"/course/{courseId}/module/{moduleId}/tilmeld";
    }
}

<body>
    <h1>Opret Tilmelding</h1>
    <form id="create-form" action="@GetHttp()" method="post">
        <div class="participant-group">
            <label class="participant-label" for="Name">Navn:</label>
            <input class="participant-input" type="text" id="Name" name="Name" required />
        </div>

        <div class="participant-group">
            <label class="participant-label" for="PhoneNumber">Telefon nummer:</label>
            <input class="participant-input" type="text" id="PhoneNumber" name="PhoneNumber" required />
        </div>

        <div class="participant-group">
            <label class="participant-label" for="Course">Hold: @ViewBag.CourseName</label>
        </div>

        <div class="participant-group">
            <label class="participant-label" for="CourseModule">Modul: @ViewBag.ModuleName</label>
        </div>

        <div class="participant-group">
            <button class="participant-button" type="submit">Opret ny tilmelding</button>
        </div>
    </form>
</body>

